.images.product-images {
    position: relative;
}

.images.product-images .thumbnails {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;
}

.product-head-info .name {


    /* H1/Regular */

    font-size: 48px;

    font-weight: 400;

    line-height: 120%; /* 57.6px */

    margin-bottom: 16px;
}

.product-head-info .short-info ul {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}

.product-head-info .short-info ul span {
    color: var(--primaryColor);
}

.product-head-info .short-info ul li {
    color: #5E5E5E;
}

.product-head-info .short-info ul b {
    color: #000;
}

.product-head-info {
    padding-bottom: 30px;
    border-bottom: 1px solid var(--borderColor);
}
.p-opt-wrap {
    margin-top: 30px
}

.p-opt {
    display: flex;
    gap: 10px;
    margin-bottom: 24px;
    flex-direction: column;
}

.p-opt-vals {
    display: flex;
    gap: 8px;
    flex-wrap: wrap
}

.p-opt-vals label {
    display: inline-block;
    cursor: pointer;
    box-shadow: 0 0 0 1px var(--borderColor) inset;
    font-weight: 400;
    padding: 4px 12px;
}

.p-opt-vals label:hover {
    box-shadow: 0 0 0 1px #000 inset
}

.p-opt-vals label:has(:checked) {
    box-shadow: 0 0 0 1px black inset;
    background: black;
    color: #fff
}
.p-opt .p-opt-lbl {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}
.product-info-all .price-wrap {
    margin: 48px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    font-size: 32px;
    font-weight: 600;
    line-height: 120%;
    align-items: center;
}

.product-info-all .price-wrap .price-old {
    color: #5E5E5E;
    font-weight: 400;
    text-decoration: line-through;
}
.product-info-all .price-wrap .save {
    padding: 2px 8px;
    background: var(--primaryColor);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.control-options {
    display: flex;
    align-items: center;
    gap: 16px;
}

.control-options .quantity {
    display: flex;
    align-items: center;
    border: 1px solid var(--borderColor);
}

.control-options #button-cart {
    width: 100%;
}

.control-options .quantity span {
    padding: 3px 12px;
    cursor: pointer;
}

.control-options .quantity input {
    border: 0;
    color: black;
    width: 20px;
    text-align: center;
    padding: 0;
    font-size: 18px;
}
.control-options .quantity span:first-child {
    border-right: 1px solid var(--borderColor);
}
.control-options .quantity span.increment {
    border-left: 1px solid var(--borderColor);
}
.control-options .quantity .material-icons {
    transform: translateY(2px);
}
.save-and-share-wrap {
    display: flex;
    padding: 12px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border: 1px solid var(--borderColor);
    margin-top: 16px;
}

.social-share {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 8px;
}

.copy-link {
    padding-left: 8px;
    border-left: 1px solid var(--borderColor);
    position: relative;
    cursor: pointer;
    transition: 0.3s all;
}
.copy-link:hover {
    color: var(--primaryColor);
}
.copy-message {
    position: absolute;
    top: -25px;
    background: black;
    color: white;
    padding: 1px 8px;
    left: 40%;
    font-size: 12px;
    border-radius: 3px;
}

.copy-message:before {
    content: "";
    background: #000000;
    width: 10px;
    height: 10px;
    left: 20px;
    bottom: -3px;
    position: absolute;
    transform: rotate(45deg);
    user-select: none;
    z-index: -1;
}

.save-and-share-wrap .btn.btn-outline {
    background: #F3F3F3;
    border: none;
    padding: 4px 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    transition: 0.3s all;
}
.save-and-share-wrap .btn.btn-outline:hover {
    background: var(--primaryColor);
}
.save-and-share-wrap .btn.btn-outline span {
    width: 16px;
    height: 16px;
    font-size: 18px;
}
.social-share .share-on {
    display: flex;
    gap: 6px;
    align-items: center;
    flex-wrap: wrap;
}

.social-share svg {
    transform: translateY(3px);
}
.product-info-details {
    padding: 60px 0;
}

.product-info-details .nav-tab-bars {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    border-bottom: 1px solid var(--borderColor);
}

.product-info-details .nav-tab-bars li, .related-product-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 12px;
    position: relative;
    cursor: pointer;
}

.product-info-details .nav-tab-bars li.active {
    font-weight: 500;
}

.product-info-details .nav-tab-bars li:after, .related-product-title:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: black;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: 0.3s;
}
.related-product-title:after{
    opacity: 1;
}
.product-info-details .nav-tab-bars li.active:after {
    opacity: 1;
}
.related-products-head {
    border-bottom: 1px solid var(--borderColor);
    width: 100%;
    display: block;
}

.related-product-title {
    display: inline-block;
    margin: 0;
}
.related-product-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.each-review .review-heading {
    margin-bottom: 10px;
}

.each-review {
    margin-bottom: 16px;
    border-bottom: 1px solid var(--borderColor);
    padding-bottom: 16px;
}

.each-review:last-child {
    border: 0;
    padding: 0;
    margin: 0;
}

.each-review .rating span {
    color: #f5b110;
    font-size: 20px;
    height: 18px;
    width: 18px;
}

.each-review .author .name {
    font-weight: 500;
}

@media only screen and (max-width: 767.98px) {
    .breadcrumb {
        padding-top: 0;
        margin-top: -5px;
    }

    .product-head-info .name {
        font-size: 26px;
        margin-bottom: 10px;
    }

    .product-info-all {
        margin-top: 20px;
    }

    .product-head-info .short-info ul {
        gap: 10px;
    }


    .product-head-info {
        padding-bottom: 20px;
    }

    .p-opt-wrap {
        margin-top: 15px;
    }

    .p-opt {
        margin-bottom: 15px;
    }

    .p-opt .p-opt-lbl {
        font-size: 16px;
        line-height: 22px;
    }

    .product-info-all .price-wrap {
        margin: 20px 0;
        font-size: 20px;
        gap: 12px;
    }

    .product-info-all .price-wrap .save {
        font-size: 14px;
        line-height: 20px;
    }

    .control-options .quantity span {
        padding: 2px 8px;
    }

    .control-options .quantity .material-icons {
        font-size: 20px;
        width: 20px;
        height: 20px;
    }

    .product-info-details {
        padding: 35px 0;
    }

    .product-info-details .nav-tab-bars {
        gap: 25px;
    }

    .product-info-details .nav-tab-bars li, .related-product-title {
        font-size: 16px;
        padding-bottom: 10px;
    }

    .product-info-details .mb-3 {
        margin-bottom: 20px;
    }

    .related-products-head {
        margin-top: 20px;
    }

    .related-product-list-wrapper {
        gap: 15px;
    }
}