# Cache files (but keep directories)
system/cache/*
!system/cache/.gitkeep
!system/cache/html/
system/cache/html/*
!system/cache/html/.gitkeep

# Keep cache directories but ignore cache files
*.cache
cache.*
